#include <stdio.h>
#include <stdlib.h>

int main () {
    int numero[10],n,i=0,j=0,contador[10]={};
    printf("Ingrese la cantidad de datos que desea en el arreglo: ");
    scanf("%i",&n);

    for (i=0;i<n;i++)
    {
        printf("Numero %i: ",i+1);
        scanf("%i",&numero[i]);
    }

    for (i=0;i<n;i++)
    {
       for (j=0;j<n;j++)
       {
           if( numero[i]==numero[j])
                contador [i]++;
       }
       {
           if(contador [i]==1)
           printf("El valor que no se repite es: %i \n",numero[i]);
       }
    }
    return 0;
}
